# Byte-compiled / optimized / compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Build and distribution directories
*.egg-info/
dist/
temp/

# Logs and cache
*.log
.cache/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# macOS-specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# claude-specific files
.claudeignore
CLAUDE.md

# Ignore all files in logs/, data/, and outputs/ directories
logs/*
data/*
outputs/*
results/*

# Ignore some files in notebooks/
notebooks/*.jpg
notebooks/*.npy
notebooks/outputs/*
notebooks/*.py

# But don’t ignore the placeholders
!logs/.gitkeep
!data/.gitkeep

# Ignore built documentation
docs/build/

